node_modules/**
# These are a bunch of random files that are specific to my instance of the bot
alias.json
config.js
errors.json
goserver
messagebox.json
old_rss_guids.json
plugins/elite/regions.json
push
stagers
testjaques
sysalias.json
userdata/**